@import url(http://fonts.googleapis.com/css?family=VT323);

/** MEDIA QUERY VARIABLES **/
@desktop : ~"screen and (min-device-width: 1025px)";
@iphone: ~"(max-device-width: 480px)";
@ipad: ~"(min-width: 768px)";
@portrait: ~"(orientation: portrait)";

/** FONTS **/
@c64: 'VT323';
 
 /** COLOR VARIABLES **/

@c64-border : rgba(122,111,225,1);
@c64-input-background : rgba(58,46,168,1);
@c64-input : rgba(122,111,225,1);

/** MIXINS **/

.animation (@name, @duration: 300ms, @delay: 0s, @ease: ease, @fill-mode: none) {
  -webkit-animation: @name @duration @delay @ease @fill-mode;
  -moz-animation:    @name @duration @delay @ease @fill-mode;
  -ms-animation:     @name @duration @delay @ease @fill-mode;
  animation:         @name @duration @delay @ease @fill-mode;
}

@-webkit-keyframes blinkingCursor {.blinkingCursorKeyframes;}
@-moz-keyframes blinkingCursor {.blinkingCursorKeyframes;}
@-ms-keyframes blinkingCursor {.blinkingCursorKeyframes;}
@-o-keyframes blinkingCursor {.blinkingCursorKeyframes;}
@keyframes blinkingCursor {.blinkingCursorKeyframes;}

@-webkit-keyframes floatingLoading {.floatingLoadingKeyframes;}
@-moz-keyframes floatingLoading {.floatingLoadingKeyframes;}
@-ms-keyframes floatingLoading {.floatingLoadingKeyframes;}
@-o-keyframes floatingLoading {.floatingLoadingKeyframes;}
@keyframes floatingLoading {.floatingLoadingKeyframes;}

@-webkit-keyframes loadingCharacterAnimation {.loadingCharacterAnimationKeyframes;}
@-moz-keyframes loadingCharacterAnimation {.loadingCharacterAnimationKeyframes;}
@-ms-keyframes loadingCharacterAnimation {.loadingCharacterAnimationKeyframes;}
@-o-keyframes loadingCharacterAnimation {.loadingCharacterAnimationKeyframes;}
@keyframes loadingCharacterAnimation {.loadingCharacterAnimationKeyframes;}

@-webkit-keyframes loadingCharacterMovement {.loadingCharacterMovementKeyframes;}
@-moz-keyframes loadingCharacterMovement {.loadingCharacterMovementKeyframes;}
@-ms-keyframes loadingCharacterMovement {.loadingCharacterMovementKeyframes;}
@-o-keyframes loadingCharacterMovement {.loadingCharacterMovementKeyframes;}
@keyframes loadingCharacterMovement {.loadingCharacterMovementKeyframes;}

.blinkingCursorKeyframes () {
  50%  {opacity : 0;}
}

.floatingLoadingKeyframes () {
  0%  {margin-top: 0px;}
  25%  {margin-top: -20px;}
  75%  {margin-top: 20px;}
  100%  {margin-top: 0px;}
}

.loadingCharacterMovementKeyframes () {
  0%  {left: 0;}
  100%  {left: 100%;}
}



.loadingCharacterAnimationKeyframes () {
  16% {
    background-image: url(char-anim2.png);
  }
  32% { 
    background-image: url(char-anim3.png);
  }
  48% { 
    background-image: url(char-anim4.png);
  }
  64% { 
    background-image: url(char-anim5.png);
  }
  86% { 
    background-image: url(char-anim6.png);
  }
}