@import url(http://fonts.googleapis.com/css?family=VT323);

/** MEDIA QUERY VARIABLES **/
@desktop : ~"screen and (min-device-width: 1025px)";
@iphone: ~"(max-device-width: 480px)";
@ipad: ~"(min-width: 768px)";
@portrait: ~"(orientation: portrait)";

/** FONTS **/
@c64: 'VT323';
 
 /** COLOR VARIABLES **/

@c64-border : rgba(122,111,225,1);
@c64-input-background : rgba(58,46,168,1);
@c64-input : rgba(122,111,225,1);

/** MIXINS **/

.animation (@name, @duration: 300ms, @delay: 0s, @ease: ease, @fill-mode: none) {
  -webkit-animation: @name @duration @delay @ease @fill-mode;
  -moz-animation:    @name @duration @delay @ease @fill-mode;
  -ms-animation:     @name @duration @delay @ease @fill-mode;
  animation:         @name @duration @delay @ease @fill-mode;
}

@-webkit-keyframes blinkingCursor {.blinkingCursorKeyframes;}
@-moz-keyframes blinkingCursor {.blinkingCursorKeyframes;}
@-ms-keyframes blinkingCursor {.blinkingCursorKeyframes;}
@-o-keyframes blinkingCursor {.blinkingCursorKeyframes;}
@keyframes blinkingCursor {.blinkingCursorKeyframes;}

.blinkingCursorKeyframes () {
  50%  {opacity : 0;}
}