@import "_base.less";


html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: #444;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: auto;
  font-family: @c64;
  text-transform: uppercase;
}

.c64-wrapper {
  background-color: @c64-border;
  width: 100%;
  height: 100%;

  .c64-container {
    background-color: @c64-input-background;
    color: @c64-input;
    margin: auto;
    position: absolute;
    left: 50%;
    margin-left: -40%;
    margin-top: 5%;
    width: 80%;
    height: 80%;
    overflow: hidden;

    @media @desktop {
      font-size: 2em;
    }    

    .c64-output {
      height: 100%;
      width: 100%;
      p {
        padding: 0;
        margin: 0;
        line-height: 1.2em;
        &#current-input {
          display: inline;
        }
        &#blinker {
          display: inline-block;
          background-color: @c64-border;
          width: 16px;
          height: 18px;
          .animation(blinkingCursor, 1s, 0s, infinite);
        }
      }
    }
    .invite-loading {
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: #000000;
      position: absolute;
      top: 0;
      display: none;
      .invite-loading-header {
        top: 40%;
        margin: 0;
        padding: 0;
        .animation(floatingLoading, 1s, 0s, infinite);
      }
      .character-animation {
        top: 40%;
        left: 40%;
        position: absolute;
        width: 100px;
        height: 150px;
        background-image: url(char-anim1.png);
        .animation(loadingCharacterAnimation,1s,0s, infinite);
      }
      &.show-block {
        display: block;
      }      
    }
    .invite {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #111111;
      top: 0;
      display: none;
      h1 {
        text-align: center;
        font-size: 2em;
        margin: 0;
        padding: 0;
      }
      h2 {
        font-size: 0.6em;
        text-align: center;
        margin: 0;
        padding: 0;
      }
      &.show-block {
        display: block;
      }      
    }
  }
}
/** helper classes **/
.center {
  text-align: center;
}
